@import 'variables';
@import 'navbar';
@import 'movie-card';
@import 'footer';
@import 'responsive';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $color-bg;
}

body.dark-theme {
    background-color: $color-bg-dark;
}